
a[href^="https://www.google.com"] { 
    color: green; 
}
a[href^="https://www.link-group.eu/"] { 
    color: red; 
}
#second-div p:nth-child(2) {
    color: red;
}
#second-div p:nth-child(3) {
    color: blue;
}
#second-div p:nth-child(4) {
    color: red;
}
#second-div p:nth-child(5) {
    color: blue;
}
#second-div p:nth-child(6) {
    color: red;
}
  p:nth-of-type(3):hover {
   font-style: italic;
  }
 #first-div p::after {
     content: " - NEW-";
    color: yellow;
    }

    





















  
  